.profile {
  width: 300px;
  padding-top: 70px;
  background-color: white;
  text-align: center;
  margin: 0 auto;

  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.avatar {
  width: 150px;
  border-radius: 50%;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.location {
  color: #99a4b0;
}
.tag {
  color: #99a4b0;
}
.stats {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  background-color: #f3f6f9;
}
.statsList {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 33.3%;
  border: 2px solid #e4e9f0;
}
.label {
  color: #99a4b0;
  font-size: 13px;
}
.quantity {
  font-size: 15px;
  font-weight: 500;
}
