.transHistory {
  margin: 0 auto;
  width: 300px;

  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.tableHead {
  background-color: #00bcd5;
  color: white;
  width: 300px;
}
.tableRow {
  background-color: #fff;
  padding: 15px;
}
.tableRow:nth-child(2n) {
  background-color: #ecf1f3;
}
td,
th {
  padding: 15px;
}
