.tableHead {
  background-color: #00bcd5;
  color: white;
  width: 400px;
}
.transHistory {
  width: 800px;
  min-width: 400px;
}
.tableRow {
  background-color: #fff;
  padding: 15px;
}
.tableRow:nth-child(2n) {
  background-color: #ecf1f3;
}
td,
th {
  padding: 15px;
}
